# Configuração do Banco de Dados e Segurança para Infodive API
# Renomeie este arquivo para .env e preencha com as suas credenciais locais

DB_URL=sua_url_de_conexao_do_banco_de_dados_postgresql
DB_USER=seu_usuario_do_banco_de_dados
DB_PASSWORD=sua_senha_do_banco_de_dados
JWT_SECRET=sua_chave_secreta_jwt_para_assinatura_de_tokens
ALLOWED_ORIGINS=http://localhost:3000
